<!DOCTYPE html>
<html>
<head>
    <title>Compression App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
       <h2 class="logo">SQUEEZE_BOX</h2>
       <a href="/">Home</a>
       <a href="/text">Text Compress</a>
       <a href="/image">Image Compress</a>
       <a href="/video">Video Compress</a>
       <a href="/audio">Audio Compress</a>
       <a href="/folder">Folder Compress</a>
    </nav>
    <div class="content">
      {% block content %} {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- jQuery and Bootstrap JS (place before custom scripts) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
