{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to the Compression App</h1>
    <p>Choose a compression type:</p>
    <ul>
        <li><a href="{{ url_for('text') }}">Text Compression</a></li>
        <li><a href="{{ url_for('image') }}">Image Compression</a></li>
        <li><a href="{{ url_for('video.video') }}">Video Compression</a></li>
        <li><a href="{{ url_for('audio') }}">Audio Compression</a></li>
        <li><a href="{{ url_for('folder') }}">Folder Compression</a></li>
    </ul>
{% endblock %}